body {
  background-color: darkcyan;
  margin: 50px;
}

h1 {
  color: blue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 300%;
  margin: 50px;
}

p {
  color: rgb(55, 0, 80);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 160%;

  padding: 30px;
  margin: 50px;
}

#p2 {
  color: white;
  font-family: serif;
}

a {
  font-size: 160%;
  padding: 15px;
  margin: 50px;
}

.roundrect {
  border-radius: 15px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 15%;
  background-color: #212529;
  color: white;
  text-align: center;
}
