body {
  background-color: darkcyan;
  margin: 50px;
}

h1 {
  color: blue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 300%;
  margin: 50px;
}

p {
  color: rgb(184, 3, 3);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 160%;
  border: 2px solid rgb(107, 34, 107);
  padding: 30px;
  margin: 50px;
}

a {
  font-size: 160%;
  padding: 15px;
  margin: 50px;
}

.roundrect {
  border-radius: 15px;
}
